Flask==3.1.0
google-cloud-datastore==2.20.2
google-cloud-storage==3.1.0
gunicorn==23.0.0
oauth2client==4.1.3  # Deprecated; consider replacing with google-auth and oauthlib
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
Flask-PyMongo==3.0.1
PyMongo==4.12.1
six==1.16.0
pytest==8.3.5
protobuf>=3.20.2,<6.0.0


